html.dark {
	/* 覆盖 Element Plus 深色变量，保持与你当前配色接近 */
	--el-bg-color: #020617; /* page background */
	--el-bg-color-overlay: #020617;
	--el-color-primary: #60a5fa;
	--el-text-color-primary: #e5e7eb;
	--el-text-color-regular: #9ca3af;
	--el-border-color: #4b5563;
}
